{% extends 'base.html' %}

{% block content %}
    <h1></h1>
    <div class="card text-center">
        <div class="card-header">
            <p class="p-1"></p>
            <h5 class="card-title">URL Shortener</h5>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="form-group">
                <input type="text" name="url"
                       placeholder="URL to shorten" class="form-control"
                       value="{{ request.form['url'] }}" autofocus></input>
            </div>
        
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
        <div class="card-footer text-muted">
            {% if short_url %}
            <a href="{{ short_url }}">{{ short_url }}</a>
            {% endif %}
        </div>
      </div>
    

    
{% endblock %}
